
  <div class="panel panel-flat mb-5">
    <!-- Numbers -->
    <div class="container-fluid">
      <table class="table table-xlg text-nowrap">
        <tbody>
          <tr>
            <td class="col-md-3">
              <div class="media-left media-middle">
                <a href="#" class="btn border-indigo-400 text-indigo-400 btn-flat btn-rounded btn-xs btn-icon legitRipple"><i class="icon-spinner11"></i></a>
              </div>

              <div class="media-left">
                <h5 class="text-semibold no-margin">
                  {{newIds?.length || 0}} <small class="display-block no-margin">Total Item</small>
                </h5>
              </div>
            </td>

            <td class="col-md-3">
              <div class="media-left media-middle">
                <a href="#" class="btn border-indigo-400 text-indigo-400 btn-flat btn-rounded btn-xs btn-icon legitRipple"><i class="icon-spinner11"></i></a>
              </div>

              <div class="media-left">
                <h5 class="text-semibold no-margin">
                  0 <small class="display-block no-margin">Total Market</small>
                </h5>
              </div>
            </td>

            <td class="col-md-3">
              <div class="media-left media-middle">
                <a href="#" class="btn border-indigo-400 text-indigo-400 btn-flat btn-rounded btn-xs btn-icon legitRipple"><i class="icon-spinner11"></i></a>
              </div>

              <div class="media-left">
                <h5 class="text-semibold no-margin">
                  0 <small class="display-block no-margin">Total Odd <small>
                    *average
                  </small></small>
                </h5>
              </div>
            </td>

            <td class="text-right col-md-3">
              <a href="#" class="btn bg-teal-400 legitRipple"><i class="icon-statistics position-left"></i> Filter</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <!-- /numbers -->
  </div>


          <!-- Page container -->
      <div class="page-container">
        <!-- Page content -->
        <div class="page-content">

    <div class="content-wrapper" >
  <ng-container  *ngFor="let si of getKeys('sport')">


 <tournpart *ngIf="allData" [filterhead]="listeDetay" [sport]="si" [alldata]="allData"></tournpart>

  </ng-container>
</div>
</div>
</div>


