<div class="row">
  
    <div class="col-lg-3 col-sm-6 hide" *ngFor="let imagesrc of sliderSrc | derp">
      <div class="thumbnail">
        <div class="thumb">
          <img [src]="rootPath + imagesrc.key" alt="{{i}}" alt="" title="" >
          <div class="caption-overflow">
            <span>
              <a href="assets/images/placeholder.jpg" data-popup="lightbox" rel="gallery" class="btn border-white text-white btn-flat btn-icon btn-rounded legitRipple"><i class="icon-plus3"></i></a>
              <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5 legitRipple"><i class="icon-link2"></i></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let imagesrc of sliderSrc | derp; index as i" 
        [ngClass]="{'active' : i == 0}"
        class="item">
          <img [src]="rootPath + imagesrc.key" alt="Chicago" style="width:100%;">
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

<div class="panel panel-flat col-md-6" *ngFor="let coupon of latestCoupon">
  <div class="panel-body">
    <pre>
      {{coupon | json}}
    </pre>
  </div>
</div>
