

<!-- Page LOGIN -->
<div class="row">
    <div class="container">
<div class="register">
<div class="title-block register-title"><i class="ti-pencil-alt"></i>GİRİŞ YAPIN</div>
<div class="register-row">
<div class="row pt-15">
<div class="col-md-6 general-info">
<div class="title-block text-center fw-600"><i class="ti-pencil-alt"></i> GİRİŞ FORMU</div>
<div class="register-form">

<form accept-charset="UTF-8" id="loginForm">
<div class="errors">
      </div>

<div class="col-md-6 text-center">
<div class="form-group">
<label for="textInput" class="modal-label-lg">KULLANICI ADINIZ</label>
<div class="input-group">
<span class="login input-group-addon"><i class="ti-user"></i> </span>
<input name="login" type="text" placeholder="Kullanıcı adı ya da e-posta" class="form-control">
</div>
</div>
</div>
<div class="col-md-6 text-center">
<div class="form-group">
<label for="textInput" class="modal-label-lg">ŞİFRENİZ</label>
<div class="input-group">
<span id="basic-addon3" class="login input-group-addon"><i class="ti-lock"></i> </span>
<input name="password" type="password" placeholder="Şifrenizi yazın" class="form-control">
</div>
</div>
</div>
<div class="col-md-6">
<div class="checkbox">
<label class="label-text">
<input type="checkbox" value="on" name="remember">
<span class="cr"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span>
BENİ HATIRLA
</label>
</div>
</div>
<div class="col-md-6">
<a href="https://betdemo.dev/password/reset" class="pull-right modal-forgot-password"><i class="ti-face-sad"></i> ŞİFRENİZİ Mİ UNUTTUNUZ ?</a>
</div>
<div class="clearfix"></div>
<div class="col-md-6 hidden-xs">
<a href="https://betdemo.dev/register" class="btn btn-block btn-info fw-600"><i class="ti-pencil-alt"></i> HEMEN ÜYE OLUN !</a>
</div>
<div class="col-md-6">
<button type="button" (click)="loginPress()" class="btn btn-block btn-primary"><i class="ti-user"></i> Giriş Yap</button>
</div>
<div class="col-md-6 visible-xs">
<a href="https://betdemo.dev/register" class="btn btn-block btn-info fw-600"><i class="ti-pencil-alt"></i> HEMEN ÜYE OLUN !</a>
</div>

</form>
<div class="clearfix"></div>
</div>
</div>
<div class="col-md-6 last-info mt-10">
<div class="title-block text-center fw-600"><i class="ti-pencil-alt"></i> ÖNEMLİ BİLGİLER</div>
<div class="register-form">
<div class="form-group">
<label class="col-sm-12 control-label"><i class="ti-user"></i> ŞİFRENİZİ PERSONELLERİMİZ DAHİL KİMSEYLE PAYLAŞMAYIN.</label>
</div>
<div class="clearfix"></div>
<div class="form-group">
<label class="col-sm-12 control-label"><i class="ti-user"></i> YASAKLANAN HESAPLAR İÇİN CANLI DESTEĞİMİZ İLE İRTİBATA GEÇİN.</label>
</div>
<div class="clearfix"></div>
<div class="form-group">
<label class="col-sm-12 control-label"><i class="ti-user"></i> IP KISITLAMASINI KALDIRMAK İÇİN, CANLI DESTEĞİMİZ İLE İRTİBATA GEÇİN.</label>
</div>
<div class="clearfix"></div>
<div class="form-group register-text">
Giriş yaptığınız IP adresi bilgisi sistemimizde güvenlik nedeniyle kayıt altına alınmaktadır.
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>

<!-- //Page LOGIN -->