    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-indigo">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
          <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
        </ul>
      </div>

      <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
          <li><a href="#">Text link</a></li>

          <li>
            <a href="#">
              <i class="icon-calendar3"></i>
              <span class="visible-xs-inline-block position-right">Icon link</span>
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Text link</a></li>

          <li>
            <a href="#">
              <i class="icon-cog3"></i>
              <span class="visible-xs-inline-block position-right">Icon link
                
              </span>
            </a>
          </li>
          <ng-container *ngIf="storeData?.auth; else elseTemplate">
              <li class="dropdown dropdown-user">
                  <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/images/image.png" alt="">
                    <span>Victoria</span>
                    <i class="caret"></i>
                  </a>
      
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
                    <li><a href="#"><i class="icon-coins"></i> My balance</a></li>
                    <li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
                    <li><a (click)="logout()"><i class="icon-switch2"></i> Logout</a></li>
                  </ul>
                </li>
          </ng-container>
          <ng-template #elseTemplate>
              <li>
                  <a routerLink="/login" routerLinkActive="active">
                      <i class="icon-reading position-left"></i> Giriş Yap
                  </a>
                </li>
          </ng-template>
        </ul>
      </div>
    </div>
    <!-- /main navbar -->


    <!-- Second navbar -->
    <div class="navbar navbar-default" id="navbar-second">
      <ul class="nav navbar-nav no-border visible-xs-block">
        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
      </ul>

      <div class="navbar-collapse collapse" id="navbar-second-toggle">
        <ul class="nav navbar-nav">
          <li><a routerLink="/" routerLinkActive="active"><i class="icon-display4 position-left"></i> Home </a></li>
          <li><a routerLink="/sports" routerLinkActive="active"><i class="icon-display4 position-left"></i> Sports</a></li>
          <li><a routerLink="/live" routerLinkActive="active"><i class="icon-display4 position-left"></i> Live</a></li>
          <li><a routerLink="/login" routerLinkActive="active"><i class="icon-display4 position-left"></i> Login</a></li>
          <li><a routerLink="/my" routerLinkActive="active"><i class="icon-display4 position-left"></i> My Panel</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Text link</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-cog3"></i>
              <span class="visible-xs-inline-block position-right">Dropdown</span>
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated line</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /second navbar -->







    <router-outlet></router-outlet>
    {{storeData?.static?.sportsName | json}}