
/*http://blog.teamtreehouse.com/css-sprite-sheet-animations-steps*/
.monster {
  width: 190px;
  height: 240px;
  margin: 2% auto;
  background: url('https://treehouse-code-samples.s3.amazonaws.com/CSS-DD/codepen/blog/monster.png') left center;
  animation: play .8s steps(10);
}
button.btn.btn-info.btn-raised.legitRipple.btn-xs.ml-5 {
  min-width: 57px;
  padding: 5px 5px;
}

tr td:nth-child(1) {
width: 80px;
}
tr td:nth-child(2) {
width: 350px;
}
tr th:nth-child(1) {
width: 80px;
}
tr td::first-child {
    min-width: 350px;
}

/* https://codepen.io/terkel/pen/ywEth
button[class*="oup"] {
  animation: play 4s steps(100);
}
button[class*="odup"] {
  animation: play2 4s steps(100);
}
button[class*="odown"] {
  animation: play3 4s steps(100);
}
button[class*="oddown"] {
  animation: play4 4s steps(100);
}

@keyframes play {
  30% {
    color : white;
    background-color: green;
  }
  60% {
    opacity: 0;
    color : white;
    background-color: green;
  }
  100% {
    color : white;
    background-color: green;
  }
}

@keyframes play2 {
  30% {
    color : white;
    background-color: green;
  }
  60% {
    opacity: 0;
    color : white;
    background-color: green;
  }
  100% {
    color : white;
    background-color: green;
  }
}

@keyframes play3 {
 30% {
  color : white;
  background-color: red;
}
60% {
  opacity: 0;
  color : white;
  background-color: red;
}
100% {
  color : white;
  background-color: red;
}
}
@keyframes play4 {
 30% {
  color : white;
  background-color: red;
}
60% {
  opacity: 0;
  color : white;
  background-color: red;
}
100% {
  color : white;
  background-color: red;
}
}
*/

/*
tr td::first-child {
    min-width: 350px;
}

pre[class^="btn-change-"] {
    animation: play 3s steps(100);
}

pre[class*="btn-change-"] {
    animation: play 3s steps(100);
}

pre[class*="change-up"] {
    animation: play 3s steps(100);
}
pre[class*="change-down"] {
    animation: play 3s steps(100);
}
/*
pre[class*="btn-change-"] {
    animation: play 3s steps(100);
}
*/
pre {
  /*display: none;*/
}
/*
@keyframes odddown {
  0%   { opacity: 0; }
  100% { opacity: 0; }
}

.live-btn.up {
    background: #55b562 !important;
    border: 1px solid #55b562 !important;
    color: #fff !important;
    -webkit-animation: oddup 1s infinite;
    animation: oddup 1s infinite;
}


.oddbtn-row.up, .oddbtn.up {
    border-color: #55b562;
    background: #55b562;
    position: relative;
    -webkit-animation: oddup 1s infinite;
    animation: oddup 1s infinite;
    color: #fff !important;
}


#virtual-odds.virtual-table tbody .match td.other-icons a, #virtual-odds.virtual-table tbody .match td.virtual-btn-column a, #classic_view .live-table tbody .match td.other-icons a, #classic_view .live-table tbody .match td.live-btn-column a {
    color: #fff;
    min-width: 27%;
    display: inline-block;
    padding: 3px 0;
    border-radius: 3px;
}

.live-btn.down {
    background: #da2f2f !important;
    border: 1px solid #da2f2f !important;
    color: #fff !important;
    -webkit-animation: odddown 1s infinite;
    animation: odddown 1s infinite;
}

.oddbtn-row.down, .oddbtn.down {
    border-color: #da2f2f;
    background: #da2f2f;
    position: relative;
    -webkit-animation: odddown 1s infinite;
    animation: odddown 1s infinite;
    color: #fff !important;
}

.oddbtn-row, .oddbtn {
    border: 1px solid #2b313c;
    background: #2b3340;
    background: -moz-linear-gradient(top,#2b3340 0,#1f2731 100%);
    background: -webkit-linear-gradient(top,#2b3340 0,#1f2731 100%);
    background: linear-gradient(to bottom,#2b3340 0,#1f2731 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3340', endColorstr='#1f2731', GradientType=0 );
}
tr td:nth-child(1) {
width: 80px;
}
tr td:nth-child(2) {
width: 350px;
}
tr th:nth-child(1) {
width: 80px;
}
tr td::first-child {
    min-width: 350px;
}
*/

/*
button[class^="change-up"] {
    background-color: green;
    animation: play 5s steps(100);
}
button[class^="change-up"] {
    animation: play2 5s steps(100);
}


@keyframes play {
  100% {
    color : white;
    background-color: green;
     }
}

@keyframes play2 {
  100% {
    color : white;
    background-color: red;
     }
}
*/



/* https://codepen.io/terkel/pen/ywEth */
button.oup, button.odup {
  animation-name: play;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
}
button.odown, button.oddown {
  animation-name: play3;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
}
button[class*="oup"] {
  animation-name: play;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
}
button[class*="odup"] {
  animation-name: play;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
}
button[class*="odown"] {
  animation-name: play3;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
}
button[class*="oddown"] {
  animation-name: play3;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
}
@keyframes play {
  from {background-color: transparent;}
  to {background-color: green;}
}

@keyframes play2 {
  from {background-color: transparent;}
  to {background-color: green;}
}

@keyframes play3 {
  from {background-color: transparent;}
  to {background-color: red;}
}
@keyframes play4 {
  from {background-color: transparent;}
  to {background-color: red;}
}

button.btn.btn-info.btn-raised.legitRipple.btn-xs.ml-5 {
  line-height: 1.5;
  font-size: 11px;
  font-weight: 600;
  min-width: 43px;
  padding: 5px;
}
button.btn.btn-raised.legitRipple.btn-xs.ml-5 {
  font-size: 11px;
  line-height: 1.5;
  font-weight: 600;
  min-width: 43px;
  padding: 5px;
}

tr td:nth-child(2) {
  width: 100px;
}
tr td:nth-child(3) {
  width: 100px;
}
tr td:first-child {
   overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 350px;
}
tr th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}
tr td.odd-area {
  min-width: 170px;
}
